<h2 mat-dialog-title>{{ specificPen.name }}</h2>
<div id="cont">
    <mat-dialog-content class="mat-typography">
        <img class="img" src="{{ specificPen.image }}"/>
    
        <p>
            Description: {{ specificPen.description }}
        </p>
    
        <h4 id="costdesc">All cost values are in PSD (Point standard dollars)</h4>
        <div id="pointcost"> 
            {{ specificPen.cost | currency }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button id="closebtn" mat-button mat-dialog-close>Cancel</button>
        <button id="cartbtn" mat-button [mat-dialog-close]="true" cdkFocusInitial>Add To Cart</button>
    </mat-dialog-actions>
</div>
