.pen-card {
    width: 375px;
    height: 280px;
    background: #2193b0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(192, 68%, 41%), #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    text-align: center;
    display:  inline-block;
    border: 2px solid black;
    border-radius: 15px;

}

.details {
    display:block;
    position: relative;
    font-size: 115%;
    height:35px;
    text-align:center;
    width: 300px;
    color:black;
    background: linear-gradient(to left, white, grey);
    text-size-adjust: 5px;
    border-radius: 25px;
    box-shadow: 2px 5px #9c1006;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 50%;
    width:285px;
    height:200px;
}
.header { color: skyblue; 
    font-family: "Great Vibes", cursive; 
    font-size: 65px; line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    /* margin-top: 40px;  */
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}

.btnforpen {
    position: absolute;
    margin-top: 300px;
}